<div class="menu">
    <a href="#" class="logo">
        <img src="../../img/b-logo.png" alt="" class="logo__img">
        <div class="logo__text">
            <p>bak-one</p>
            <p>one page flat template</p>
        </div>
    </a>
    <nav class="menu__items">
        <ul>
            <li class="menu__item">
                <a href="#">home</a>
            </li>
            <li class="menu__item">
                <a href="#">portfolio</a>
            </li>
            <li class="menu__item">
                <a href="#">about</a>
            </li>
            <li class="menu__item">
                <a href="#">contact</a>
            </li>
        </ul>
    </nav>
</div>