<div class="hero">
    <div class="hero__content">
        <div class="hero__title">
            we build <strong>brand</strong>
        </div>
        <div class="hero__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam recusandae cum inventore impedit, a eaque voluptatem quae praesentium. Mollitia sint quas alias non, nihil animi odit illum voluptas ipsam vel.
        </div>
        <div class="hero__learn-more">
            learn more
        </div>
        <div class="hero__btn-hext fa-2x fa fa-chevron-down"></div>
    </div>
</div>