body * {
  outline: 1px solid lightgrey;
}

.bg-image {
  height: 200px;
  width: 200px;
  background-image: url('./img/big_image.jpg');
  background-repeat: no-repeat;
  background-position: -100px -20px;
}

.sprite {
  background-image: url('../../img/sprites.png');
  width: 150px;
  height: 150px;
}

.bg-spanch4 {
  background-position: -10px -10px;
}

.bg-spanch3 {
  background-position: -180px -10px;
}

.bg-spanch1 {
  background-position: -10px -180px;
}

.bg-spanch {
  background-position: -180px -180px;
}

.font {
  font-size: 32px;
  font-family: Courier, sans-serif;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 50px;
  line-height: 100px;
  color: #dc3245;
}

.font div {
  color: #000;
  font-size: 2em;
}